@charset "UTF-8";


/********* header의 시작 ********/
.header {
	width: 100%;
	height: 100px;
	background-color: black;
	
}

/********* main의 시작 ********/
.main {
	width: 65%;
	height: 800px;
	background-color: blue;
	/*중앙으로 정렬하기*/
	margin: 50px auto;
	/* margin-top: 50px;
	margin-bottom: 50px; */
}

/********* footer의 시작 ********/
.footer {
	width: 100%;
	height: 150px;
	background-color: green;
}