@charset "UTF-8";


/********* header의 시작 ********/
.header {
	width: 100%;
	height: 100px;
	background-color: black;
	
}

.header > div {
	width: 65%;
	height: 100%;
	background-color: red;
	margin: 0 auto;
}


/********* main의 시작 ********/
.main {
	width: 65%;
	height: 800px;
	/*background-color: blue; */
	/*중앙으로 정렬하기*/
	/*margin: 50px auto;
	margin-top: 50px;
	margin-bottom: 50px; */
	margin: 70px auto 150px auto;
}

.main > div:first-child {
	background-color: yellow;	
	height: 400px;
	margin-bottom: 20px;
}

.main > div:last-child {
	background-color: gray;
	height: 380px;
}

/********* footer의 시작 ********/
.footer {
	width: 100%;
	height: 150px;
	background-color: green;
	padding-top: 20px;
	box-sizing: border-box;
}

.footer > div {
	width: 65%;
	height: 130px;
	background-color: gray;
	margin: 0 auto;
}
